
Language: Cpp
BasedOnStyle: Google
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowShortEnumsOnASingleLine: false
IndentWidth: 4
AllowShortFunctionsOnASingleLine: false